@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,4JUdGzvrMFDWrUUwY3toJATSeNwjn54LkCnKBPRzDuhzi5vSepHfUckJNxRL2gjkNrSqtCoRUrEDAgRwsQvVCjZbRyFTLRNyDmT1a1boZVwght@0,100;0,200;0,300;0,4JUdGzvrMFDWrUUwY3toJATSeNwjn54LkCnKBPRzDuhzi5vSepHfUckJNxRL2gjkNrSqtCoRUrEDAgRwsQvVCjZbRyFTLRNyDmT1a1boZVdisplay=swap');
*{
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    box-sizing: border-box;
    z-index: 3;
}
html,body{
    height: 100%;
}
ul li{
    list-style: none;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.btn-choix{
    cursor: pointer;
}
.logo{
    width: 50px;
}
.wrapper.home{
    background-image: url(assets/home/background-home-desktop.jpg);
}
.wrapper.destination{
    background-image: url(assets/destination/background-destination-desktop.jpg);
}
.wrapper.crew{
    background-image: url(assets/crew/background-crew-desktop.jpg);
}
.wrapper.technology{
    background-image: url(assets/technology/background-technology-desktop.jpg);
}


/*Entete global*/

.navbar{
    width: 100%;
    background-color: bisqe;
    height: 136px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
}
.navbar_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding-left: 64px;
}
.navbar_logo hr{
    flex-grow: 1;
    height: 2px;
    width: 80%;
    margin-left: 20px;
    border-color: hsl(0, 0%, 100%, 0.25);
}
.navbar_menu{
    height: 98px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: end;
    align-items: center;
    padding-right: 64px;
    width: 50%;
    background-color: hsl(0, 0%, 100%,0.05) ;
}
.navbar_menu_item , .main_planet_info_menu, .main_planet_info_more_item_hook{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
}
.navbar_menu_item::after , .btn-choix::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}
.btn-choix::after{
    bottom: -10px;
}
.navbar_menu_item:hover::after , .btn-choix:hover::after{
    width: 100%;
    background-color: #807d7d;
}
.navbar_menu_item.active::after , .btn-choix.active::after{
    width: 100%;
}
.navbar_menu_item.active:hover::after, .btn-choix.active:hover::after {
    width: 100%; 
    background-color: #ffffff;  
}
.navbar_menu_item strong{
    letter-spacing: 2.7px;
}


/*Page home*/

.main{
    width: calc(100% - 330px);
    margin: 0 auto;
}
.main_home{
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    margin-bottom: 70px;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}
.main_home_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
    padding-bottom: 2%;
}
.main_home_text_hook{
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.main_home_text_title,.main_palnet_info_title , .main_planet_info_more_item_title, .main-crew_content_left_text_hook, .main-crew_content_left_text_title, .main-technology_content_left_text_hook, .main-technology_content_left_text_title{
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-size: 9rem;
    font-style: normal;
    text-transform:uppercase;
    color: white;
}
.main_home_text_description, .main_palnet_info_description, .main-crew_content_left_text_description, .main-technology_content_left_text_description{
    font-family: "Barlow", serif;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    line-height: 180%;
    padding-right: 50px;
    color: white;
}
.main_home_button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
}
.main_home_button_circle {
    all: unset;
    width: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    position: relative;
    transition: 0.3s;
}
.main_home_button_circle::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
}
.main_home_button_circle:hover::before {
    transform: translate(-50%, -50%) scale(1); 
}
.main_home_button_circle_text{
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
    color: black;
}


/* page destination */
.main-destination, .main-crew{
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.main_title, .main_title strong{
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.main_title strong {
    color: rgb(133, 130, 130);
    font-weight: 600;
}
.main_planet{
    height: 100%;
    margin: 60px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}
.main_planet_image{
    height: 100%;
    width: 480px;
    display: none;
}
.main_planet_image.active{
    display: block;
}
.main_planet_image img{
    width: 100%;
}
.main_planet_info{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.planet-changeable{
    height: 100%;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.planet-changeable.active{
    opacity: 1;
}
.main_planet_info_menu{
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}
.main_palnet_info_more{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px 20px 0px;
}
.main_palnet_info_more_item{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.trait{
    margin: 20px 50px 20px 0px;
}
.main_planet_info_menu li, .main_planet_info_more_item_hook{
    color: rgb(208, 210, 211);
}
.main_planet_info_more_item_title{
    font-size: 2rem;
}


/* Page crew */
.main-crew_content, .main-technology_content{
    display: flex;
    flex-direction: row;
}
.main-crew_content_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40%;
}
.main-crew_content_left_text{
    display: none;
    flex-direction: column;
}
.main-crew_content_left_text.active{
    display: flex;
}
.main-crew_content_left_text_hook{
    color: rgb(181, 183, 184);
    font-size: 2rem;
}
.main-crew_content_left_text_title{
    margin-top: 10px;
    font-size: 3.8rem;
}
.main-crew_content_left_text_description{
    margin-top: 30px;
}
.main-crew_content_left_dot{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
}
.main-crew_content_left_dot_item{
    width: 13px;
    height: 13px;
    background-color: #6a6868;
    border-radius: 50%;
}
.main-crew_content_left_dot_item:hover {
    background-color: #a3a0a0;
}
.main-crew_content_left_dot_item.active{
    background-color: #ffffff;
}
.main-crew_content_right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-crew_content_right_image::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, black,transparent);
    pointer-events: none;
    z-index: 4;
}
.main-crew_content_right_image{
    width: 500px ;
    display: none;
}
.main-crew_content_right_image.active{
    display: block;
}
.main-crew_content_right_image img{
    width: 100%;
    background-color: linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
}


/*Page technology*/

.main-technology{
    width: auto;
    margin: 0px;
    padding-left: 165px;
    padding-bottom: 60px;
}
.main-technology_content{
    gap: 15px;
}
.main-technology_content_left{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.main-technology_content_left_dot{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main-technology_content_left_dot_item{
    width: 80px;
    height: 80px;
    border: 1px #ffffff solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main-technology_content_left_dot_item:hover{
    border-width: 3px;
}
.main-technology_content_left_dot_item.active, .main-technology_content_left_dot_item.active span {
    color: black;
    background-color: #ffffff;
}
.main-technology_content_left_dot_item span{
    font-size: 30px;
}
.main-technology_content_left_text{
    display: none;
    flex-direction: column;
    gap: 15px;
}
.main-technology_content_left_text.active{
    display:flex
}
.main-technology_content_left_text_hook{
    color: #979494;
    font-size: 2rem;
}
.main-technology_content_left_text_title{
    font-size: 3rem;
}
.main-technology_content_right{
    width: 50%;
}
.main-technology_content_right img{
    object-fit: cover;
}
.imagetech-change{
    display: none;
}
.imagetech-change.active{
    display: block;
}